head
  meta(charset="utf-8")
  title Title
  meta(content="width=device-width, initial-scale=1" name="viewport")
  meta(content="ie=edge" http-equiv="x-ua-compatible")
  link(rel="shortcut icon" type="image/x-icon" sizes="256x256" href="/img/favicon.png")
  link(rel="stylesheet" href="css/style.min.css")
