.container.header-mobile
  .menu-icon
    span.line.line-top
    span.line
    span.line.line-bottom
  a(href='index.html')
    img(src='/img/logo-mobile.svg' alt='logotype')
  a(href="tel:88005507341").header-mobile-phone
    img(src='img/phone-mobile.svg' alt='phone')
.container-fluid.menu-mobile
  .container
    .menu-contacts
      a(href="#")
        img(src='/img/geo.svg' alt='location')
        span г. Новороссийск, ул. Вербовая 9
      a(href="mailto:shop@orto-n.ru")
        img(src='/img/mail.svg' alt='location')
        span shop@orto-n.ru
    ul.collapse-menu-mobile
      li.collapse-menu__link
        a(href="#") Индивидуальная<br>ортопедическая обувь
        .collapse-menu__sub
          ul.header-menu-sub
            li: a(href="#") Ортез на руку индивидуальный
            li: a(href="#") Тутор на всю нижнюю конечность
            li: a(href="#") Тутор на всю нижнюю конечность, разъемный
      li.collapse-menu__link
        a(href="#") Индивидуальные ортезы
        .collapse-menu__sub
          ul.header-menu-sub
            li: a(href="#") Ортез на руку индивидуальный
            li: a(href="#") Тутор на всю нижнюю конечность
            li: a(href="#") Тутор на всю нижнюю конечность, разъемный
      li.collapse-menu__link
        a(href="#") Индивидуальные аппараты
        .collapse-menu__sub
          ul.header-menu-sub
            li: a(href="#") Ортез на руку индивидуальный
            li: a(href="#") Тутор на всю нижнюю конечность
            li: a(href="#") Тутор на всю нижнюю конечность, разъемный
      li.collapse-menu__link
        a(href="#") Ортопедический шлем
        .collapse-menu__sub
          ul.header-menu-sub
            li: a(href="#") Ортез на руку индивидуальный
            li: a(href="#") Тутор на всю нижнюю конечность
            li: a(href="#") Тутор на всю нижнюю конечность, разъемный
      li.collapse-menu__link
        a(href="#") Брейсы Понсети
        .collapse-menu__sub
          ul.header-menu-sub
            li: a(href="#") Ортез на руку индивидуальный
            li: a(href="#") Тутор на всю нижнюю конечность
            li: a(href="#") Тутор на всю нижнюю конечность, разъемный
      li.collapse-menu__link
        a(href="#") Корсет Шено
        .collapse-menu__sub
          ul.header-menu-sub
            li: a(href="#") Ортез на руку индивидуальный
            li: a(href="#") Тутор на всю нижнюю конечность
            li: a(href="#") Тутор на всю нижнюю конечность, разъемный
      li.collapse-menu__link
        a(href="#") Вращательная манжета
        .collapse-menu__sub
          ul.header-menu-sub
            li: a(href="#") Ортез на руку индивидуальный
            li: a(href="#") Тутор на всю нижнюю конечность
            li: a(href="#") Тутор на всю нижнюю конечность, разъемный
      li.collapse-menu__link
        a(href="#") Товары для реабилитации
        .collapse-menu__sub
          ul.header-menu-sub
            li: a(href="#") Ортез на руку индивидуальный
            li: a(href="#") Тутор на всю нижнюю конечность
            li: a(href="#") Тутор на всю нижнюю конечность, разъемный
      li.collapse-menu__link
        a(href="#") Маммология
        .collapse-menu__sub
          ul.header-menu-sub
            li: a(href="#") Ортез на руку индивидуальный
            li: a(href="#") Тутор на всю нижнюю конечность
            li: a(href="#") Тутор на всю нижнюю конечность, разъемный
