@import "../mixins/media";
@import "../utils/variables";

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .header-top {
    width: 100%;
    height: 34px;
    background-color: $main-gray;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 3px;

      li {
        margin: 0 15px;

        a {
          font-family: 'PTRootUI-Regular', sans-serif;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: 0.02em;
          color: #737374;
          transition: all 0.5s ease;

          &:hover {
            color: $text-color;
          }
        }
      }
    }
  }

  .header-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;

    &__item {
      display: flex;
      align-items: center;

      a {
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.02em;
        color: #000000;
        transition: all 0.5s ease;

        &.logo {
          color: #737374;
          display: flex;
          align-items: center;
          img {
            margin-right: 16px;
          }
        }

        img {
          margin-right: 9px;
        }

        svg {
          margin-right: 9px;
        }

        &.header-phone {
          display: flex;
          flex-direction: column;

          span {
            font-family: 'PTRootUI-Regular', sans-serif;
            font-size: 11px;
            line-height: 14px;
            letter-spacing: 0.04em;
            color: #737374;

            &.number {
              font-family: 'PTRootUI-Bold', sans-serif;
              font-size: 18px;
              line-height: 23px;
              letter-spacing: 0.02em;
              color: black;
              transition: all 0.5s ease;
            }
          }

          &:hover {
            span.number {
              color: $text-color-hover;
            }
          }
        }

        &:hover {
          color: $text-color-hover;
        }
      }
    }
  }

  .mega-menu {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-top: 1px solid $line-color;
    border-bottom: 1px solid $line-color;

    .mega-menu__ul {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      margin-bottom: 0;

      .mega-menu__link {
        width: 126px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding-left: 30px;

        &:nth-child(1) {
          justify-content: flex-start;
          padding-left: 0;
        }

        &:nth-last-child(1) {
          justify-content: flex-end;
        }

        a {
          font-family: 'PTRootUI-Regular', sans-serif;
          font-size: 12px;
          line-height: 1;
          letter-spacing: 0.02em;
          color: #000000;
          white-space: nowrap;
          position: relative;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 0;
            background-color: $color-acc2;
            transition: all 0.5s ease;
          }

          &:hover:after {
            width: 100%;
          }
        }

        .mega-menu__sub {
          position: absolute;
          bottom: 0;
          left: 0;
          visibility: hidden;
          opacity: 0;
          transition: visibility 0s ease;
          display: flex;
          flex-direction: column;
          border-top: 1px solid $line-color;
          transform: translateY(100%);

          h3 {
            font-family: 'PTRootUI', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: $text-color;
            margin-bottom: 30px;
          }

          .header-menu-sub {
            display: flex;
            align-items: flex-start;

            span {
              display: block;
              max-width: 260px;

              a {
                font-family: 'PTRootUI-Regular', sans-serif;
                font-size: 16px;
                line-height: 24px;
                color: #333333;
                white-space: normal;
                transition: all 0.5s ease;
                margin-bottom: 20px;

                &:after {
                  content: none;
                }
              }

              &:hover {
                a {
                  color: $text-color-hover;
                }
              }
            }
          }
        }

        &:hover {
          .mega-menu__sub {
            display: flex;
            background: #FAFAFA;
            box-shadow: 0px 26px 10px rgba(0, 0, 0, 0.1);
            width: 100%;
            min-height: 400px;
            height: auto;
            z-index: 10;
            visibility: visible;
            opacity: 1;
            margin-top: 16px;
            padding: 40px 0;
            box-sizing: border-box;
          }
        }
      }
    }
  }

  @include media-laptop {
    display: none;
  }
}
