// Desktop first
$media-mobile: 480px;
$media-tablet: 768px;
$media-tablet-horizontal: 1024px;
$media-laptop: 1200px;


// color variables

$main-gray: #f2f2f2;
$text-color: #333333;
$text-color-hover: #ff7308;
$line-color: #dfdfdf;
$color-acc1: #ff3708;
$color-acc2: #2ec8a6;
